* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.header {
  padding: 30px;
  font-size: 20px;
  font-style: oblique;
  text-align: center;
  background-color: crimson;
  color: white;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: sandybrown;
  border:2px solid #333333;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.sticky{
  position: fixed;
  width: 100%;
  top:0;
  z-index: 1;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover, a.active {
  background-color: #333333;
  color: white;
}


/*************************************************************/
/* Three columns starts */
/* Create three equal columns that floats next to each other */
.threeColumns{
  display: table;
  width: 100%;
  overflow: hidden;
  background-color: bisque;
}

.threeColumns::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  display: table-cell;
  float: left;
  width: 33.33%;
  padding: 45px 25px;
  margin: 0;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.column:hover{
  background-color: rgba(255, 99, 71, 0.4);
}

/* The modal */
.modal {
  display: none; /* Hidden by default*/
  position: fixed;
  z-index: 2;
  padding-top: 100px; /* Location of the box */
  padding-left: 20px;
  padding-right: 20px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  text-align: center;
  color:white;
}

/* Modal Content (Icon) */
#icon1,#icon2,#icon3 {
  color: white;
  margin: auto;
  display: block;
  width: 80%;
}

/* Add Animation - Zoom in the Modal */
#icon1,#icon2,#icon3, #caption1,#caption2,#caption3 {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 720px){
  .column{
    width: 100%;
  }
}
/* Three columns ends */
/*************************************************************/


/*************************************************************/
/*Places start*/
.places {
  background-color: #333333;
  color: white;
  padding: 8px 10px;
}

.places h2{
  margin:0;
}

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dotContainer{
  text-align: center;
  background-color: burlywood;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #333333;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 720px) {
  .prev, .next,.text {font-size: 11px}
}
/*Places ends*/
/*************************************************************/


/*************************************************************/
/* Food starts*/
.foodContainer{
  background-image: url("assets/bread.jpg");
  background-color: darkturquoise;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.foodHeader{
  top:0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: white;
  width: 100%;
  padding: 12px;
}
.foodHeader p{
  font-size: medium;
}

/* Create four equal columns that sits next to each other */
.foodColumn {
  position: relative;
  float: left;
  width: 35vw;
  height: auto;
  margin-left: 8vw;
  margin-top: 1vw;
  margin-bottom: 1vw;

}
.foodRow::after {
  content: "";
  clear: both;
  display: table;
}

.foodColumn img{
  opacity: 0.95;
  display: block;
  width: 100%;
}

.foodOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  padding: 4px;
}

.foodText {
  color: white;
  font-size: 2vw;
  position: absolute;
  width: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.foodText h4{
  color: cornsilk;
  font-family: "Arial Black", Gadget, sans-serif;
  margin: 1px;
}

.foodColumn:hover .foodOverlay {
  opacity: 0.8;
}

/* Food ends */
/*************************************************************/


/*************************************************************/
/* Activity starts */
.sportsContainer{
  position: relative;
}

.sportsContent{
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 12px;
  font-size: 2vw;
}

.sportsContent p{
  margin: 0;
}

.videoContainer{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

#myVideo{
  width: 100%;
  height: auto;
}

#myBtn{
  width: 100px;
  font-size: 1.5vw;
  background: black;
  cursor: pointer;
  color: #f1f1f1;
}

#myBtn:hover{
  background-color: #bbbbbb;
  color: black;
}

/*************************************************************/
/* Social Media starts */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 720px) {
  .foodColumn {
    width: 100%;
    margin-top: 3vw;
    margin-left: 0vw;
  }
  .foodText{
    font-size: 5vw;
  }
  .sportsContent {
    margin: 0;
    font-size: 3vw;
  }
}

